<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stderr="true"
         stopOnFailure="false"
         executionOrder="depends">
    <testsuites>
        <testsuite name="GowaPHP SDK Test Suite">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/Domain/Dto</directory>
            <directory>src/Domain/Enum</directory>
            <directory>src/Domain/Value</directory>
            <directory>src/Exception</directory>
            <directory>src/Contracts</directory>
            <directory>src/Webhook/Model</directory>
            <file>src/Support/NoopCircuitBreaker.php</file>
            <file>src/Support/SystemClock.php</file>
        </exclude>
    </source>
</phpunit>
